[submodule "external/libffi"]
	path = external/libffi
	url = git://github.com/metaeducation/libffi.git
[submodule "external/tcc"]
	path = external/tcc
	url = git://github.com/metaeducation/tcc.git
[submodule "SDL"]
	path = external/SDL
	url = https://github.com/zsx/SDL-mirror.git
[submodule "glew"]
	path = external/glew
	url = https://github.com/nigels-com/glew.git
[submodule "nanovg"]
	path = external/nanovg
	url = https://github.com/zsx/nanovg.git
