[submodule "src/libffi"]
	path = src/libffi
	url = git://github.com/atgreen/libffi.git
[submodule "src/remotery"]
	path = src/remotery
	url = git@10.21.2.8:szeng/remotery.git
[submodule "src/skia"]
	path = src/skia
	url = git@10.21.2.8:szeng/skia.git
[submodule "src/reb-skia"]
	path = src/reb-skia
	url = git@10.21.2.8:szeng/reb-skia.git
[submodule "src/src/SDL"]
	path = src/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "src/angle"]
	path = src/angle
	url = https://chromium.googlesource.com/angle/angle
