[submodule "external/libffi"]
	path = external/libffi
	url = git://github.com/zsx/libffi.git
[submodule "test"]
	path = test
	url = https://github.com/metaeducation/ren-c-test
[submodule "SDL"]
	path = external/SDL
	url = https://github.com/spurious/SDL-mirror.git
[submodule "glew"]
	path = external/glew
	url = https://github.com/nigels-com/glew.git
[submodule "nanovg"]
	path = external/nanovg
	url = https://github.com/zsx/nanovg.git
